<!Doctype html>
<head>
<meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
<h1><%= @customer.id %>Welcome to our store</h1>
<p>Your Emaild :<%= @customer.email %></p>
<p>To login to our store click-
<%= link_to "Login", @url %>
</p>
<p>Reach us for any query!</p>
</body>